/* ---- reset ---- */

body {
  margin: 0;
  background-color: transparent !important;
}

.bg-1 {
  background-color: #ffffff;
}

.bg-2 {
  background-color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
}

.bg-4 {
  background-color: #ffffff;
}

.particles-js {
  background-color: #5EA0C3; /* For browsers that do not support gradients */
  background-color: -webkit-linear-gradient(115deg, #5EA0C3 , #684AA0);
  background-color: -o-linear-gradient(115deg, #5EA0C3 , #684AA0);
  background-color: -moz-linear-gradient(115deg, #5EA0C3 , #684AA0);
  background-color: linear-gradient(115deg, #5EA0C3 , #684AA0);
}

/* ---- particles.js container ---- */

#particles-js canvas{
  background-color: #5EA0C3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(115deg, #5EA0C3 , #684AA0);
  background: -o-linear-gradient(115deg, #5EA0C3 , #684AA0);
  background: -moz-linear-gradient(115deg, #5EA0C3 , #684AA0);
  background: linear-gradient(115deg, #5EA0C3 , #684AA0);

  position: absolute;
  width: 100%;
  height: inherit;
  z-index: -1;
}
